@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  /*outline: red solid 1px;*/
   margin: 0;
    padding: 0;
}

.html, body{
   
}

.VectoralLogo img{
    z-index: 10;
    position: absolute;
    width: 160px;
    top: 0;
    margin-top: 10px;
    margin-left: 15px;
    pointer-events: none;
}

.calendly-container {
  position: fixed; /* Pour qu'il reste à la même position même au scroll */
  top: 10%; /* Espace en haut */
  left: 5%; /* Espace à droite */
  
  background: transparent;
  border-radius: 16px; /* arrondi des bords */
  overflow: hidden; /* masque les débordements */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25); /* ombre douce */
  width: 50%; /* largeur similaire au screenshot */
  height: 650px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.calendly-inline-widget {
  border: none !important;
  width: 100% !important;
  height: 100% !important;
}

.h1{
  position: relative;
  color: #505050;
  font-family: "Poppins", bold ;
  font-weight: 500px;
  font-size: 40px;
  margin-left: 65%;
  text-align: left;
  margin-bottom: 30px;
}

.whyUs{
  color: #2b2b2b;
    font-family: "Poppins", bold ;
    text-align: right;
    margin-left: 64%;
    text-align: left;
    font-size: 19px;
    line-height: 30px;
    background-color: #f1f1f1;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
    width: 500px;outline: 2px dashed grey;
    outline-offset: -6px;
}

.subtext{
  display: block;
  text-align: center;
  font-size: 35px;
  color: #505050;
  font-family: "Poppins", bold ;
  font-weight: 100px;
}

.sub2{
  display: block;
  text-align: center;
}

.Wtext{
  position: absolute;
  text-align: left;
  top: 210px;
  margin-left: 28px;
}

.black{
  font-weight: 600;
}

.ProImg,
.VitrineImg,
.PremiumImg {
  position: relative; /* conteneur */
}

.ProImg img,
.VitrineImg img,
.PremiumImg img {
  width: 20px;
  height: auto;
  position: absolute;
  top: 10px;   /* marge depuis le haut */
  left: 10px;  /* marge depuis la gauche */
}