@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    /*outline: red solid 1px;*/
}

body{
    height: 500vh;
    background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

html, body{
    height: 200%;
    width: 100%;

}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
    background: 
        url("paralaxWhite.jpeg") center/cover no-repeat fixed;
    color: #707070;
}

.slogan{
    text-align: center;
    font-size: 40px;
    font-family: "Poppins", bold ;
    font-weight: 400;
    font-style: normal;
    color: #5c5c5c;
    position: absolute;
    justify-content: right;
    right: 19.7%;
    margin-top: 280px;
    z-index: 10;
    text-shadow: 2px 2px 15px #b3b3b3;
}

.FacticeIMG img{
    position: relative;
    width: 700px;
    border-radius: 20px;
    justify-content: center;
    margin: auto;
    display: block;
    margin-top: 160px;
    pointer-events: none;
    z-index: 2;
    max-width: 90%;
    box-shadow: 9px 9px 5px #b9b9b9;
}

.white{
    color: #ffffff;
    text-shadow: 0px 0px 20px #ffffff ;
}

.button {
    position: relative;
    background: linear-gradient(90.5deg, rgb(0, 140, 255) 1.9%, rgb(77, 184, 255) 87.7%);
    border-radius: 15px;
    padding: 8px;
    text-decoration: none;
    font-family: Arial;
    color: #ffffff;
    box-shadow: -3px 4px 7px rgba(112, 112, 112, 0.849);
    margin-left: 220px;
    top: -250px;
    overflow: hidden; /* pour que le pseudo-élément reste dans le bouton */
}
.SeeIt{
    z-index: 99999;
}

/* Pseudo-élément pour l'effet hover */
.button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(90.5deg, rgb(77, 184, 255) 1.9%, rgb(0, 140, 255) 87.7%);
    opacity: 0;
    transition: opacity 0.4s ease;
}

/* Le texte doit rester au-dessus */
.button > * {
    position: relative;
    z-index: 1;
}

.button:hover::before {
    opacity: 1;
}

.arrow{
    font-size: 23px;
}

.disclaimer{
    position: relative;
    font-size: 25px;
    font-family: Arial;
    color: #3a3a3a;
    text-align: center;
    left: 0;
    width: 550px;
    top: -280px;
    text-shadow: 0px 0px 10px rgb(255, 255, 255,);
}



.bg-fixed {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("grille.jpg") repeat;
  background-size: 400px auto;
  z-index: -1;
}

.gradient-overlay {
  position: absolute;
  top: 0; /* commence en haut de la page */
  left: 0;
  width: 100%;
  height: 100%; /* couvre toute la zone où tu veux le gradient */
  background: linear-gradient(
    to bottom, 
    rgba(255,255,255,1) 20%,   /* blanc jusqu'à 20% */
    rgba(255,255,255,0.2) 50%   /* dégradé vers transparent jusqu'en bas */
  );
  pointer-events: none;
  z-index: 0;
}

.white-overlay {
  position: fixed; /* fixe sur toute la page */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5); /* 15% de blanc */
  pointer-events: none; /* permet de cliquer à travers */
  z-index: -1; /* juste au-dessus de bg-fixed */
}

.title{
    position: relative;
    z-index: 10;
    text-align: center;
    font-family: "Poppins", bold ;
    font-weight: 500px;
    font-size: 50px;
    color: #505050;
    margin-top: 100px;
}

.subtitle{
    position: relative;
    z-index: 10;
    text-align: center;
    margin-top: 10px;
    color: #757575;
    font-family: Arial;
    opacity: 0; /* invisible au départ */
    transition: opacity 0.6s ease; /* transition en 0.6s */
}

.VectoralLogo img{
    z-index: 10;
    position: absolute;
    width: 160px;
    top: 0;
    margin-top: 10px;
    margin-left: 15px;
    pointer-events: none;
}

.divider {
  position: relative;
  z-index: 10;
  border: none;               /* supprime la bordure par défaut */
  height: 4px;                /* épaisseur de la ligne */
  background: #b1b1b1;           /* couleur de la ligne */
  width: 65%;                 /* largeur de la ligne */
  margin: 20px auto;          /* centrage et espace vertical */
  border-radius: 2px;         /* coins arrondis */
  margin-top: 40px;
}

.exampleTitle{
    position: relative;
    z-index: 10;
    margin-top: 40px;
    text-align: center;
    font-family: "Poppins", bold ;
    font-weight: 300px;
    font-size: 40px;
    color: #666666;
}

.divider2 {
  position: relative;
  z-index: 10;
  border: none;               /* supprime la bordure par défaut */
  height: 4px;                /* épaisseur de la ligne */
  background: #b1b1b1;           /* couleur de la ligne */
  width: 65%;                 /* largeur de la ligne */
  margin: 20px auto;          /* centrage et espace vertical */
  border-radius: 2px;         /* coins arrondis */
  margin-top: 120px;
}

.icon-headset{
    margin-bottom: 10px;
    margin-top: 15px;
   
}

.container {
    display: flex;
    gap: 50px; /* espace entre les deux étapes */
    justify-content: center; /* centre les deux étapes dans le container */
    margin-top: 150px; /* si besoin d’espace par rapport au haut */
}

.step {
    display: flex;
    flex-direction: column; /* icône au-dessus, texte en dessous */
    align-items: center;    /* centre horizontalement icône + texte */
    text-align: center;     /* centre le texte à l’intérieur du <p> */
    background-color: #ffffff;
    border-radius: 12px;
    width: 130px;
    height: 190px;
    justify-items: center;
    text-align: center;
    align-content: center;
    border: #a8a8a8 solid 2px;
    z-index: 10;
}

.howitworks {
    margin-top: 10px; /* espace entre icône et texte */
    font-size: 16px;  /* adapte la taille si besoin */
    color: #333;
    font-family: "Poppins", bold;
    font-weight: 900px;
}

.Hiwhr{
  position: absolute;
  border: none;               /* supprime la bordure par défaut */
  height: 8px;                /* épaisseur de la ligne */
  background: #636363;           /* couleur de la ligne */
  width: 65%;                 /* largeur de la ligne */
  left: 50%;          /* centrage et espace vertical */
  border-radius: 2px;         /* coins arrondis */
  margin-top: 240px;
  transform: translateX(-50%);
  margin-top: 100px;
}

.ButtonContainer{
    display: flex;
    gap: 14px;
    justify-content: center;
    width: 100%;
}

.exbutton{
    display: inline-block;
    position: relative;
    background: #333;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    font-family: Arial;
    color: #ffffff;
    box-shadow: 0px 4px 7px rgba(112, 112, 112, 0.849);
    transition: all 0.3s ease;
    text-align: center;
    font-size: 20px;
    
}

.exbutton:hover{
    transform: translateY(-4px);
    box-shadow: 0px 8px 7px rgba(112, 112, 112, 0.849);
}

.ExampleButton{
    margin-top: 260px;
    text-align: center;
}

.section {
  scroll-margin-top: 100px; /* adapte la valeur selon la hauteur de ta navbar */
}

.sloganHIW{
    text-align: center;
    font-family: "Poppins", bold;
    color: #5a5a5a;
    font-size: 25px;
    width: 60%;
    margin: auto;
    margin-top: 40px;
    font-weight: 400px;
    margin-bottom: 30px;
  
}

.Callbutton2{
    display: inline-block;
    position: relative;
    background-image: linear-gradient( 90.5deg,  rgb(0, 140, 255) 1.9%, rgb(77, 184, 255) 87.7% );
    border-radius: 15px;
    padding: 8px;
    text-decoration: none;
    font-family: Arial;
    color: #ffffff;
    box-shadow: 0px 4px 7px rgba(112, 112, 112, 0.849);
    transition: all 0.3s ease;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    justify-items: center;
    padding-top: 4px;
    padding-right: 10px;
}

.Callbutton2:hover{
    transform: translateY(-4px);
    box-shadow: 0px 8px 7px rgba(112, 112, 112, 0.849);
}

.ReservButton{
    justify-content: center;
    text-align: center;
    height: 40px;
}

.h2{
    margin-top: 120px;
    text-align: center;
    font-family: "Poppins", bold;
    color: #4d4d4d;
    font-size: 27px;
    max-width: 90%;
    margin: auto;
    margin-top: 30px;
}

.Processus{
    font-family: "Poppins";
    font-weight: 300px;
    text-align: center;
    color: #555555;
    font-size: 23px;
    margin-top: 30px;
    max-width: 90%;
    margin: auto;
}

@media (max-width: 768px) {
  .container {
        flex-direction: column; /* les éléments s'alignent verticalement */
        gap: 20px; /* espacement vertical plus petit si besoin */
        align-items: center; /* centrer les éléments horizontalement */
        margin-top: 50px; /* réduire l’espace du haut si nécessaire */
  }
}

.TextboxContainer{
    display: flex;
    padding: 40px;
    position:relative;
    bottom: 10px;          
    flex-wrap: nowrap;
    gap: 45px;
    justify-content: center;
}

.textbox{
    color: rgb(88, 88, 88);
    font-family: "Poppins", bold;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    z-index: 10;
    background-color: rgba(160, 160, 160, 0.3);
    max-width: 200px;
    width: 200px;
    flex: 1;

}

.h22{
    margin: 70px;
    text-align: center;
    font-family: "Poppins", bold;
    color: #4b4b4b;
    font-size: 30px;
}

.h3{
    margin: 15px;
}

.WUWintext {
    text-align: center;
    font-size: 30px;
    font-family: "Poppins", bold ;
    font-weight: 400;
    color: #333;
}

.valeur{
  background-color: rgba(216, 216, 216, 0.6);
  padding: 6px;
  border-radius: 7px;
}

.WUW{
    text-align: center;
     font-family: "Poppins", bold ;
    font-weight: 400;
     color: #636363;
     font-size: 20px;
     margin-top: 10px;
}

.icon-1{
    margin-left: 5px;
}

.container2 {
    display: flex;
    align-items: flex-end;  /* aligne les cartes par le bas */
    padding: 40px;
    position: relative;
    bottom: 10px;          
    flex-wrap: nowrap;
    gap: 40px;
    justify-content: center;
    margin-top: 70px;
}

.OffrePro{
    color: rgb(88, 88, 88);
    font-family: "Poppins", bold;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(243, 243, 243) ;
    max-width: 270px;
    flex: 1;
    box-shadow: -9px 9px 7px #cacaca;
    outline: solid #bdbdbd 1px;

}

.OffrePremium{
    color: rgb(88, 88, 88);
    font-family: "Poppins", bold;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(243, 243, 243) ;
    max-width: 270px;
    flex: 1;
    box-shadow: 0px 9px 7px #cacaca;
    outline: solid #bdbdbd 1px;

}

.OffreVitrine{
    color: rgb(88, 88, 88);
    font-family: "Poppins", bold;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(243, 243, 243) ;
    max-width: 270px;
    flex: 1;
    box-shadow: 9px 9px 7px #cacaca;
    outline: solid #bdbdbd 1px;

}

.OffreNamePro{
    margin-top: 15px;
    text-align: center;
    margin-bottom: 20px;

}

.OffreNamePremium{
    margin-top: 15px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 55px;

}

.OffreNameVitrine{
    margin-top: 15px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 30px;
}

.prix{
    position: relative;
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
}

.ProImg,
.VitrineImg,
.PremiumImg {
  position: relative; /* conteneur */
}

.ProImg img,
.VitrineImg img,
.PremiumImg img {
  width: 60px;      /* réduit bien l’icône */
  height: auto;     /* garde les proportions */
  position: absolute;
  top: 0px;        /* marge depuis le haut */
  left: 0px;       /* marge depuis la gauche */
  pointer-events: none;
}

.PremiumText,
.ProText,
.VitrineText{
    margin-top: 30px;
    text-align: left;

}